
.logo{
    width:70px;
    height:180px;
    border-radius: 50%;
}

.blog{
    /* background-image: url(../images/pexels-67117688-8285167.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(45deg, #ff7e5f, #feb47b); */

    /* background: linear-gradient(45deg, #1a2980, #26d0ce);  */
    background: linear-gradient(45deg, #ff9a9e, #fecfef); 
}

.logout{
    margin-top: 120px;
}