
.logo{
    width:70px;
    height:180px;
    border-radius: 50%;
}
/* .gallery{
    /* background-image: url(../images/passport-2714675_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: cyan; */
/* } */

