.logo{
    width:70px;
    height:180px;
    border-radius: 50%;
}
.Orders2{
    background-image: url("../images/nature-6740243_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
/* .menu-icon{
    margin-top: 10px;
} */